
<article class="post-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}" style="{{#if feature_image}}url({{img_url feature_image size="s"}});background-repeat: no-repeat;background-size:cover;{{/if}}">
    <a class="post-card-link" href="{{url}}">
        <div class="post-card-content">
            <h5 class="post-card-title">{{title}}</h5>
            <p class="post-card-text">
                {{#if excerpt}}
                {{excerpt words="15"}}
                {{else}}
                &nbsp;
                {{/if}}
            </p>
        </div>
    </a>
</article>
