{{!< default}}

{{#post}}
<article class="post-content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

    <header class="post-content-header">
        <h1 class="post-content-title">{{title}}</h1>
    </header>

    {{#if custom_excerpt}}
        <p class="post-content-excerpt">{{custom_excerpt}}</p>
    {{/if}}

    {{#if feature_image}}
    <div class="post-content-image">
        <img class="kg-image" src="{{feature_image}}" alt="{{title}}" />
    </div>
    {{/if}}

    <div class="post-content-body">
        {{content}}
                
    </div>

    <div id="chart-div">

    </div>
    
</article>

<h4>Course List</h4>
    {{#get "pages" limit="all" order="title asc" include="tags" as | pages |}}
        <div class="course-list-cards">
    
            {{#foreach pages}}
                {{#has tag="Courses"}}
                    {{> "post-card-with-text"}}
                {{/has}}
            {{/foreach}}

        </div>
    {{/get}}
    <script src="../assets/js/fitty.js"></script>

    <script>
        
        fitty("td");
    </script>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {packages:["orgchart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        data.addRows([
          [
            'Intro to Programming',
            '', 
            ''
            ],
          [
          'Object-Oriented Programming',
           'Intro to Programming', 
           ''
           ],
          [
          'Mobile App Design',
           'Intro to Programming', 
           ''
           ],
           [
          'Robotics II',
           'Intro to Programming', 
           ''
           ],
           [
          'AP Computer Science A',
           'Object-Oriented Programming', 
           ''
           ],
           [
          'Programming & Robotics',
           '', 
           '9th Grade Elective only'
           ],
           ['Web Design I',
           '',
           ''],
           ['Web Design II',
           'Web Design I',
           ''],
           ['Graphic Design I',
           '',
           ''],
           ['Graphic Design II',
           'Graphic Design I',
           '']
        ]);

        // Create the chart.
        var chart = new google.visualization.OrgChart(document.getElementById('chart-div'));
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, 
        {
            'allowHtml':true,
            'nodeClass': "course-chart-card",
            'selectedNodeClass': "course-chart-card-selected",
            'size': 'large',
            'allowCollapse': false
        });

        google.visualization.events.addListener(chart, 'select', selectHandler);

        function selectHandler(e) {
          if (chart.getSelection()[0] != undefined) {
            let courseName = data.getValue(chart.getSelection()[0].row, 0);
            console.log(courseName)
            $(".post-card:contains('"+courseName+"')").css("background-color", "rgb(51, 55, 100").css("outline-width", "3px")
          }


        }
      }

     
</script>
<script>

</script>
{{/contentFor}}
